<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<button class="btn btn-success"><%= link_to 'Show', @blog %></button>
<button type="button" class="btn btn-primary"><%= link_to "back", :back %></button>
