// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.blogs h1{
    font-size:30px;
}

html{
  height:100%;
}

body {
  background-color: #fafad2;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  height:100%;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
